@import "vars";
@import "libs";
@import "fonts";
@import "global";


.header {
    position: relative;
    height  : 100vh;
}

.header__aside {
    position    : absolute;
    top         : 0;
    left        : 0;
    z-index     : 5;
    height      : 100vh;
    color       : #FFF;
    text-align  : center;
    border-right: 1px solid rgba(#fff, .25);
}

.menu {
    &__list {
        padding-top: 22px;
    }

    a {
        color: #FFF;

        span {
            display       : block;
            font-weight   : 500;
            font-size     : 12px;
            line-height   : 14px;
            text-align    : center;
            letter-spacing: 3px;
            padding-top   : 6px;
            margin-bottom : 25px;
        }
    }
}

.header__data {
    font-weight   : 800;
    font-size     : 72px;
    line-height   : 64px;
    text-transform: uppercase;
    margin        : 20px 0 25px;

    span {
        font-weight   : 300;
        font-size     : 16px;
        line-height   : 19px;
        letter-spacing: 1.4px;
        display       : block;
        margin-top    : 16px;
    }
}

.animate__line {
    stroke-dasharray : 600;
    stroke-dashoffset: 600;
    animation        : animat 5s infinite 6s;
}

@keyframes animat {
    to {
        stroke-dashoffset: 0;
    }
}

.header__title {
    max-width     : 467px;
    position      : absolute;
    top           : 0;
    left          : 0;
    z-index       : 4;
    font-weight   : 800;
    font-size     : 200px;
    line-height   : 156px;
    text-transform: uppercase;
    color         : #FFFFFF;
    opacity       : 0.07;
}

.header__map {
    position: absolute;
    right   : 0;
    top     : 0;
    z-index : 3;
}

.header__arrows {
    position: absolute;
    bottom  : 41px;
    left    : 209px;
    z-index : 3;
}

.heaer__slider {
    &-item {
        height             : 100vh;
        background-image   : url(../img/header_bg.jpg);
        background-repeat  : no-repeat;
        background-size    : cover;
        background-position: center;
        position           : relative;
    }
}

.slider-item__info {
    position      : absolute;
    right         : 80px;
    bottom        : 115px;
    text-align    : right;
    color         : #fff;
    text-transform: uppercase;
}

.slider-item__info-suptitle {
    margin-bottom: 5px;
}

.slider-item__info-suptext {
    margin-bottom: 8px;
}

.slider-item__info-title {
    font-weight: 800;
    font-size  : 80px;
    line-height: 86px;
}

.slider__arrows {
    position: absolute;
    top     : 40px;
    right   : 80px;
    cursor  : pointer;
    z-index : 5;
}

.slider__arrow-left {
    right: 125px;
}

// SLIDER DOTS 
.slider__dots {
    position : absolute;
    right    : 50px;
    bottom   : 31px;
    color    : #fff;
    max-width: 920px;
    width    : 100%;
    cursor   : pointer;

    .slick-current {
        .dots__box {
            border-top: 4px solid $green;
        }
    }
}

.dots__box {
    width          : 200px;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    height         : 44px;
    border-top     : 4px solid #fff;

    &:hover {
        border-color: #4AF6CD;
    }

    // &           ::before{
    //     content         : '';
    //     background-color: #fff;
    //     height          : 4px;
    //     width           : 200px;
    //     position        : absolute;
    //     top             : 0;
    // }

    &-num {
        font-weight   : 800;
        font-size     : 24px;
        line-height   : 34px;
        text-transform: uppercase;
    }

    &-name {
        font-weight: 300;
        line-height: 19px;

    }
}

.surf {
    position           : relative;
    padding            : 160px 0 120px;
    background-image   : url(../img/surf-bg.png);
    background-repeat  : no-repeat;
    background-position: right 200px;
    background-size    : auto;
}

.right__info {
    position  : absolute;
    top       : 311px;
    right     : 73px;
    text-align: right;
}

// 2 SECTION
// SURF SLIDER
.surf__slider {
    padding-top: 110px;

    .slider__arrows {
        top    : 58px;
        opacity: 0.25;
    }

    .slick-slide:nth-child(2n) {
        .surf__box-item {
            margin-top: 32px;
        }
    }

    .slick-slide:nth-child() {
        .surf__box-item {}
    }

    .slick-current {
        .surf__box-inner {
            background: rgba(#1C2121, .3);
        }

        .box-btn {
            display: block;
        }
    }
}

.surf__box-item {
    // background-image   : url(../img/slide-1.jpg);
    background-repeat     : no-repeat;
    background-position   : center;
    background-size       : cover;
    // max-width          : 390px;
}

.surf__box-inner {
    background   : rgba(#1C2121, .85);
    min-height   : 750px;
    // max-width : 390px;
    position     : relative;
    &:hover{
        background: rgba(#1C2121, .3);
        .box-btn {
            display: block;
        }
    }
}

.surf__box-text {
    padding       : 72px 0 0 40px;
    font-weight   : 800;
    font-size     : 40px;
    line-height   : 36px;
    text-transform: uppercase;
    max-width     : 110px;
}

.surf__box-location {
    transform     : rotate(-90deg);
    font-size     : 18px;
    line-height   : 22px;
    letter-spacing: 8px;
    text-transform: uppercase;
    width         : 0;
    height        : 0;
    position      : absolute;
    left          : 40px;
    bottom        : 81px;
    white-space   : nowrap;

    span {
        font-weight: 100;
    }

}

.box-btn {
    position  : absolute;
    bottom    : 0px;
    left      : 0px;
    right     : 0;
    text-align: center;
    display   : none;
}

@import "media";